button {
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.2s;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

/* add more styles for different kinds of buttons here, can add diff sizes also */
button.primary {
  background-color: var(--primary-color);
  color: white;
}
button.secondary {
  background-color: var(--secondary-color);
  color: white;
}

button.gradient {
  background: linear-gradient(to right, #9333ea, #db2777);
  color: white;
}

button.gradient:hover {
  background: linear-gradient(to right, #7e22ce, #be185d);
}

.chip {
  display: inline-flex;
  align-items: center;
  background-color: #f3e8ff;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 14px;
  color: #5f3cba;
}


button.gradient {
  background: linear-gradient(to right, #9333ea, #db2777);
  color: white;
}

button.gradient:hover {
  background: linear-gradient(to right, #7e22ce, #be185d);
}

.submit-button {
  background: linear-gradient(to right, #805ad5, #5a67d8); 
  color: white;
}

.submit-button:hover{
  background: linear-gradient(to right, #6b46c1, #4c51bf); 
}

.blue-button {
  background: linear-gradient(to right, #6366F1, #3B82F6);
  color: white;
}

.blue-button:hover{
  background: linear-gradient(to right, #4F46E5, #2563EB);
}